*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    width: 100%;
    height: 100%;
    background-color: #0b1721;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 90%;
    height:90%;
}

.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.encabezado_logoTodosmrt img{
    margin: 20px 10px auto;
    width: 150px;
}

.encabezado_data{
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #d9dbc4;
}

.dataFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#formdataCliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.infoCliente{
    /* position: relative; */
    width: 100%;
    height: 100%;
    padding: 20px;
    /* margin-bottom: 15px; */
}

.infoCliente input{
    width: 100%;
    /* height: 80px; */
    background: transparent;
    color: yellowgreen;
    outline: 0;
    font-size: 20px;
    /* margin: 0 5px; */
    border-bottom: 1px solid #c7c7c7;
}

.infoCliente .etiquetas{
    /* position: absolute;
    top: 0px;
    left: 1px; */
    width: 100%;
    height: 100%;
    color: #2ecece;
    /* transform: translateY(30%); */
    font-size: 20px;
    /* pointer-events: none; */
    /* transition: .4s ease; */
}

 /* .infoCliente input:focus + .etiquetas,
 .infoCliente input:valid + .etiquetas
{
    transform: translateY(-10%);   
    font-size: 14px;
    padding: 5px 5px; 
    color: greenyellow;
}  */


.ubicacionEjecutivo{
    padding: 0 0 10px 0;
    width: 80%;
    border-radius: 6px;
    background-color: #2ecece;
    text-align: center;
}

.ubicacionEjecutivo p{
    margin: 20px auto;
    font-weight: bolder;
}

.ubicacionEjecutivo .radios{
    margin: 10px 0;
}


.etiquetas_texto{
    margin: 5px 15px;
    font-weight: bolder;
    font-size: 18px;
}

.correoApp{
    width: 100%;
    padding: 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #2ecece;
    font-weight: bolder;
}

.correoApp p{
    text-align: center;
}

.correoAnswer{
    display: inline-block;
    text-align: center;
    padding: 5px;
    color: #aa1111;
    font-size: small;
}

.correoApp input{
    background: #0b1721;
    margin: 10px 0;
    color: yellowgreen;
    padding: 5px 5px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 80%;
    font-size: 20px;
}


.comboCompra{
    margin: 5px 0;
    width: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #2ecece;
    font-weight: bolder;
}

.combos{
    display: block;
    text-align: center;
    margin: 20px 0px 10px 20px;
}

.frecuenteCombo{
    background: #0b1721;
    width: 80%;
    border: none;
    padding: 5px 0;
    color: white;
    border-radius: 6px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 10px 0 20px 0;
}

.numeroFrecuente{
    text-align: center;
    padding: 5px 0;
    background: #2ecece;
    font-size: 16px;
    width: 100%;
    height: 120px;
    border-radius: 6px;
    font-weight: bolder;
}

.etiquetas_frecuente{
    padding: 0px 10px;
}

.numeroFrecuente input{
    background: #0b1721;
    margin: 5px 0 10px 0;
    color: yellowgreen;
    padding: 5px 5px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 80%;
    font-size: 20px;
}

.btnForm{
    display: inline-block;
    margin: 10px 0;
    background: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 14px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer p{
    display: block;
    width: 100%;
    /* background: #fff; */
    margin: 20px 0;
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color:#fff;
    font-weight:400;
}

.cajaModal{
    display: none;
    position: absolute;
    margin:0 auto;
    top: 50%;
    padding: 20px 10px ;
    width: 80%;
    height: 250px;
    text-align: center;
    background-color: #2ecece;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
}

.cajaModal p{
    margin: 15px 0;
}

.cerrarModal{
    margin: 20px;
    border-radius: 8px;
    padding: 10px;
    font-weight: bolder;
    background: red;
    color: #fff;
}

.btnModl{
    margin: 20px;
    border-radius: 8px;
    padding: 10px;
    font-weight: bolder;
    background: #aa1111;
    color: #fff;
    text-decoration: none;
}
